<% if logged_in? %>
  <p>こんにちは！<%= current_user.name %>さん！</p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome!!</h1>
      <h1>Let's start Workout !!</h1>
      <%= link_to 'Sign up now!!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>